/*Selector {
Property:value;
}*/

html, body {
	font-family: "Playfair Display", san serif;
	width: 100%;
	height: 100%;
	background: url(arch.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	font-size: 3rem;
	color: #e2dbdb
}

hr {
    margin: 20px auto; 
    color: #e2dbdb;
    border: 3px solid #e2dbdb;
    max-width: 50px;
    opacity: 1;  
}

.buffer {
	height: 10rem;
}
.btn {
	font-weight: 900;
	border-radius: 300px;
	text-transform: uppercase;
}
.btn-primary {
	color: #e2dbdb;
	border-color: #e2dbdb;
	background-color: #0147AB;
	border-width: 2px;
}
.btn-primary:hover {
	background-color: #080402;
	border-color: #080402;
	border-width: 2px;
}
.btn-xl {
	padding:1rem 1rem;
}